.theme-picker {
  .theme-picker__control,
  .theme-picker__menu {
    background-color: var(--surface-color);
  }
  .theme-picker__single-value {
    color: var(--on-surface-color);
  }
  .theme-picker__option--is-selected {
    color: var(--on-primary-color);
    background-color: var(--primary-color);
  }
  .theme-picker__option--is-focused {
    color: var(--on-secondary-color);
    background-color: var(--secondary-color);
  }
  .theme-picker__control {
    border-color: var(--primary-color);
  }
  .theme-picker__control--is-focused {
    border-color: var(--primary-color);
    box-shadow: 0 0 1px var(--primary-color);
  }
  .theme-picker__indicator {
    color: var(--primary-color);
  }
}
