.button {
    border-width: 0;
    border-radius: 4px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    padding: .6rem 1rem;
    cursor: pointer;
}
.button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}
.minimised-bar {
    position: fixed;
    bottom: 0;
    right: 1rem;
    display: flex;
    gap: 1rem;

    .minimised {
        padding: 1rem;
        color: var(--on-primary-color);
        background-color: var(--primary-color);
        box-shadow:
            0 1rem 2rem 0 rgba(0, 0, 0, .3),
            0 1rem 3rem 0 rgba(0, 0, 0, .3);
        z-index: 2;
        cursor: pointer;
        user-select: none;
    }
}
.help-button:hover, .minimised:hover {
    opacity: .8;
}
.help-dialog {
    padding: 0;
    border: 0;
    user-select: none;
    margin: 0;
    position: absolute;
    top: 25vh;
    left: 25vw;
    z-index: 2;
    box-shadow:
        0 1rem 2rem 0 rgba(0, 0, 0, .3),
        0 1rem 3rem 0 rgba(0, 0, 0, .3);
}
.app-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    cursor: move;
    * {
        color: var(--on-primary-color);
        font-size: 1.2rem;
        padding: .5rem 1rem;
    }
}
.action-buttons {
    display: flex;
    flex-direction: row;
    .minimise { line-height: 1rem }
    > * {
        cursor: pointer;
        font-weight: 800;
    }
}
.help-ecp {
    width: 50vw;
    height: 50vh;
    overflow: hidden;
}
.max-dialog {
    user-select: none;
    border-radius: 0.5rem;
    border: none;
    color: var(--on-surface-color);
    border: var(--on-background-color) 2px solid;
    background-color: var(--surface-color);
    text-align: center;

    &::backdrop {
        backdrop-filter: blur(0.5rem);
    }
    .button { margin-top: 1rem }
}
