$active-color: rgba(0, 0, 255, 0.1);
$hover-color: rgba(0, 0, 0, 0.05);
$conflict-color: rgba(255, 0, 0, 0.2);
$pending-color: rgba(255, 165, 0, 0.5);
$approved-color: rgba(0, 255, 0, 0.3);
$rejected-color: rgba(255, 0, 0, 0.3);
$menu-bg-color: rgba(128, 128, 255, 0.05);

$panel-padding: 0.5rem;
